@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5em 1fr 5em;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;
}

body, input, textarea, button {
  font-size: 1.6em;
  font-family: Arial, Montserat, sans-serif;
}

select {
  font-size: 1.2em;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: #203040;
  padding: .5em;
}

main {
  grid-area: main;
}


header a {
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 3 50em;
  position: relative;
}

.sidebar {
  position: relative;
  left: 0;
  margin: 0;
  margin-right: 10px;
}

.sidebar .button{
height: 40px;
}


footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  width: 84%;
  font-size: 1em;

}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 1.2em;
  width: auto;
}
.button:hover {
  border: 0.1rem #808080 solid;
}


.button.primary {
  background-color: #f0c040;
  width: auto;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}

/* index.css*/
.cart {
display: flex;
padding: 1em;
margin: 0.4em;
flex-direction: column;
}

.cart-header {
  border-bottom: 0.1em solid #c0c0cc;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 5em;
}

.cart-items li{
 display: flex;
}

.cart-items li div {
padding: .5em;
 }

 .cart-items li div:last-child {
 flex: 1;
   }

   .right{
     text-align: right;
   }

   .total {
     display: flex;
     justify-content: space-between;
     width: 80%;
     align-items: center;
   }

  .total > div {
  font-size: 2em;
   }

   .total > div,
   .total > button{

    position: relative;
   }
   
   /* checkout form */
   form {
     width: 100%;
     position: relative;
   }

 .form-container {
   position: relative;
   width: 100%;
   left: 0;
   margin-left: 0;
   padding-left: 0;
 }

  .form-container li {
   list-style-type: none;
    padding: 0.5em;
   display: flex;
   flex-direction: column;
 }

 .form-container input {
   padding: 0.4em;
   border: .1em #c0c0c0  solid;
 }

 /*modal and product details */

 .product-details {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;

 }

 .product-details img {
   max-height: 80vh;
   max-width: 46em;
   position: relative;
   margin: 0 auto;
 }

 .product-details-desc {
   flex: 1 1;
   margin: 1em;
}

.close-modal {
  position: absolute;
  right: 1em;
  top: 2.5em;
  cursor: pointer;
  background: #bd2525;
  border: none;
  color: #fff;
  z-index: 1000;
}